<%- include('./partials/adminHead.ejs') %>

<h3>register page</h3>

<form action="/admin/signup" method="post">
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="password" placeholder="password" />
  <input type="text" name="phonenumber" placeholder="Phone number" />
  <input type="text" name="address" placeholder="address" />
  <button type="submit">submit</button>
</form>
