<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node js - admin panel</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/admin/allusers">Admin Panel</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admin/allusers"
            >Task Manager App
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
    <% if(user) { %>
    <div class="col-2 col-center">
      <a style="color: aliceblue">Welcome, <%= user.username %></a>
    </div>
    <div class="col-1 col-center"><a href="/logout">logout</a></div>
    <% } else { %>
    <div class="col-1 col-center"><a href="/admin">login</a></div>
    <% } %>
    <div class="col-1 col-center"><a href="/admin/allusers">Panel</a></div>
  </nav>
  <body></body>
</html>
