<div class="card">
  <div class="card-header">
    <h4 class="font-weight-bold">Add New user</h4>
  </div>
  <div class="card-body">
    <form action="/adduser" method="post">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="col-form-label" for="firstname">UserName</label>
            <input type="text" class="form-control" name="username" placeholder="enter user name" id="firstname" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="col-form-label" for="lastname">password</label>
            <input type="text" class="form-control" name="password" placeholder="enter password" id="lastname" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="col-form-label" for="phonenumber">Phone Number</label>
            <input
              type="number"
              class="form-control"
              name="phonenumber"
              placeholder="enter your phone number"
              id="phonenumber"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="addres">Address</label>
            <textarea class="form-control" name="address" id="address" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="">
        <button itype="submt" class="btn btn-success">Submit</button>
        <a href="/" class="btn btn-light">Cancel</a>
      </div>
    </form>
  </div>
</div>
