<%- include('./partials/head.ejs') %>
<div class="main-container">
  <div class="row mt-5 col-center2">
    <h3 class="col-12 mb-3 col-center">Manage Employees Task</h3>
    <div class="col-6 mb-3 col-center"><a class="main-container-option" href="/employees">Employee list</a></div>
    <div class="col-6 mb-3 col-center"><a class="main-container-option" href="/rooms">Rooms</a></div>
    <div class="col-1"></div>
    <img class="col-2 grow grow1" src="/grow1.png" alt="grow" />
    <img class="col-2 grow grow2" src="/grow2.png" alt="grow" />
    <img class="col-2 grow grow3" src="/grow3.png" alt="grow" />
    <img class="col-2 grow grow4" src="/grow4.png" alt="grow" />
    <img class="col-2 grow grow5" src="/grow5.png" alt="grow" />
    <div class="col-1"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const images = document.querySelectorAll(".grow");
    let currentImageIndex = 0;

    function fadeInOut() {
      if (currentImageIndex >= images.length) {
        currentImageIndex = 0; // ریست کردن اندیس برای شروع دوباره
      }

      const currentImage = images[currentImageIndex];

      // fadeIn تصویر فعلی
      currentImage.classList.add("fadeIn");
      currentImage.classList.remove("fadeOut");

      setTimeout(() => {
        // fadeOut تصویر فعلی
        currentImage.classList.add("fadeOut");
        currentImage.classList.remove("fadeIn");

        currentImageIndex++;
        setTimeout(fadeInOut, 1000); // انتظار برای fadeOut قبل از شروع fadeIn بعدی
      }, 2000); // تنظیم زمان بندی برای ماندن تصویر در حالت نمایان
    }

    fadeInOut(); // شروع انیمیشن
  });
</script>

<%- include('./partials/footer.ejs') %>
