<h3 class="col-12">Manage Users</h3>
<div class="row mt-5">
  <div class="col-3"></div>
  <div class="col-3 col-center"><a class="home-menu" href="/alluser">user list</a></div>
  <div class="col-3 col-center"><a class="home-menu" href="/adduser">add user</a></div>
  <div class="col-3"></div>
  <div class="col-12 pt-10 logo-div"><img class="logo" src="/management.png" alt="manage" /></div>
</div>
