<%- include('./partials/head.ejs') %>

<h3 class="col-12">Manage Users</h3>
<div class="row mt-5">
  <div class="col-3 col-center"><a class="home-menu" href="/employees">Employee list</a></div>
  <div class="col-9 pt-10 logo-div"><img class="logo" src="/management.png" alt="manage" /></div>
</div>

<%- include('./partials/footer.ejs') %>
