<h3>login page</h3>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="username" />
  <input type="text" name="password" placeholder="password" />
  <button type="submit">submit</button>
</form>
