<%- include('./partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>

  
    <title>Chat Room</title>
      
    </head>
    <body>
      <div class="chatroom-container row">
        <div class="col-12 text-left h5 room-name-container" id="room">
          <span id="room-name"></span><span> room</span> 
        </div>
        <ul class="col-12 text-left" id="messages"></ul>
        <form id="form" action="">
          <input id="input" autocomplete="off" /><button>Send</button>
        </form>
      </div>

      <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const socket = io();
        
          const username = "<%= employee.name %>";
          function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
          }
          const roomName = getQueryParam("room");
          document.getElementById("room-name").innerText = roomName || "undifined room";
        
          socket.emit("joinRoom", { username, room: roomName });
        
          // Listen for messages from the server
          socket.on("message", function (message) {
            outputMessage(message);
            window.scrollTo(0, document.body.scrollHeight);
          });
        
          const form = document.getElementById("form");
          form.addEventListener("submit", function (e) {
            e.preventDefault();
            const input = document.getElementById("input");
            if (input.value) {
              socket.emit("chatMessage", input.value);
              input.value = "";
            }
          });
        
          function outputMessage(message) {
            const ul = document.getElementById("messages");
            const li = document.createElement("li");
            li.innerText = `${message.username}: ${message.text} (${message.time})`;
            ul.appendChild(li);
          }
        });
        
      </script>


<%- include('./partials/footer.ejs') %>
