<%- include('./partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<div class="main-container">
  <div class="swimmer">
    <div class="col-12 gorw-text" id="let">Let's</div>
    <div class="col-12 gorw-text" id="grow">Grow</div>
    <div class="col-12 gorw-text" id="together">Together</div>
  </div>
  <div class="row mt-8 col-center2">
    <div class="col-5 mb-4 text-right"><a class="main-container-option" href="/employees">Employee list</a></div>
    <div class="col-2 mb-4"><a class="main-container-option" href="/rooms">Rooms</a></div>
    <div class="col-5 mb-4 text-left"><a class="main-container-option" href="/rooms">Departemans</a></div>
    <div class="col-1"></div>
    <img class="col-2 grow grow1" src="/img/grow1.png" alt="grow" />
    <img class="col-2 grow grow2" src="/img/grow2.png" alt="grow" />
    <img class="col-2 grow grow3" src="/img/grow3.png" alt="grow" />
    <img class="col-2 grow grow4" src="/img/grow4.png" alt="grow" />
    <img class="col-2 grow grow5" src="/img/grow5.png" alt="grow" />
    <div class="col-1"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const images = document.querySelectorAll(".grow");
    let currentImageIndex = 0;

    function fadeInOut() {
      if (currentImageIndex >= images.length) {
        currentImageIndex = 0;
      }

      const currentImage = images[currentImageIndex];

      currentImage.classList.add("fadeIn");
      currentImage.classList.remove("fadeOut");

      setTimeout(() => {
        currentImage.classList.add("fadeOut");
        currentImage.classList.remove("fadeIn");

        currentImageIndex++;
        setTimeout(fadeInOut, 1000);
      }, 2000);
    }

    fadeInOut();
  });
</script>

<%- include('./partials/footer.ejs') %>
