<%- include('./partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<h3>login page</h3>

<form action="/login-employee" method="post">
  <input type="text" name="name" placeholder="name" />
  <input type="text" name="password" placeholder="password" />
  <button type="submit">submit</button>
</form>

<%- include('./partials/footer.ejs') %>
