<%- include('./partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<div class="join-container">
  <header class="join-header">
    <h3>Select Room</h3>
  </header>
  <main class="join-main">
    <form action="/rooms/chatroom">
      <div class="form-control">
        <select name="room" id="room">
          <option value="JavaScript">JavaScript</option>
          <option value="Python">Python</option>
          <option value="PHP">PHP</option>
          <option value="Java">Java</option>
        </select>
        <button type="submit" class="btn">Join Chat</button>
      </div>
    </form>
  </main>
</div>

<%- include('./partials/footer.ejs') %>
